:root{
    font-size: 14px;
    font-family: 'Open Sans';
    --bg-primary:#1a1a1a;
    --icon-color:#fff238;
    --icon-size:2.5rem;
}

*{
    box-sizing: border-box;
}

body{
    color: black;
    background-color: white;
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar{
    width: .5rem;
}

body::-webkit-scrollbar-track{
    background-color: #f0f0f0;
}

body::-webkit-scrollbar-thumb{
    background-color: #3d3d3d;
}

.navbar{
    position: fixed;
    background-color: var(--bg-primary);
    transition: width 300ms ease;
}

.navbar-nav{
    list-style: none;
    padding: 0;
    margin:0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.navbar .nav-item {
    width: 100%;
    padding: 0 calc((5rem - var(--icon-size)) / 2);
    transition: background-color 300ms ease;
}

.navbar .nav-item:hover{
    background-color: black;
}

.navbar .nav-item:hover .nav-link,
.navbar:hover .nav-logo .nav-link{
    filter: grayscale(0) opacity(1);
}

.navbar .nav-link{
    display: flex;
    align-items: center;
    height: 5rem;
    text-decoration: none;
    text-align: center;
    color: white;
    filter: grayscale(100%) opacity(.5);
    transition: 600ms;
}

.navbar .link-icon{
    color: var(--icon-color);
}

.navbar .link-text{
    display: none;
    margin-left: 2rem;
    white-space: nowrap;
}

@media only screen and (min-width:768px){
    main{
        margin-left: 5rem;
        padding: 1rem 4rem;
    }
    
    .navbar{
        width: 5rem;
        height: 100vh;
    }
    
    .navbar .nav-item.nav-bottom {
        margin-top: auto;
    }

    .navbar .link-icon{
        max-width: var(--icon-size);
        font-size: var(--icon-size);
        transition: font-size 300ms ease, max-width 300ms ease, transform 600ms ease;
    }
    
    .navbar:hover{
        width: 16rem;
        box-shadow: 0px 0 50px rgba(0,0,0,.8);
    }

    .nav-item:hover .link-icon{
        max-width: calc(var(--icon-size)/1.2);
        transform: rotate(360deg);
    }
    
    .navbar:hover .link-text{
        display: block;
    }

    .navbar .nav-logo{
        width: 100%;
        padding: 0 calc((5rem - var(--icon-size)) / 2);
        margin-bottom: 1rem;
        background-color: black;
    }
    
    .navbar .nav-logo .link-text{
        text-transform: uppercase;
        font-weight: 800;
        margin-left: 0;
        font-size: 2rem;
        letter-spacing: .1rem;
    }
    
    .navbar .nav-logo .link-icon{
        transition: transform 600ms ease;
        color: var(--icon-color);
    }

    .navbar:hover .nav-logo .link-icon{
        transform: rotate(-540deg);
    }
}

@media only screen and (max-width:768px){
    main{
        margin:0;
        padding: .5rem 1rem;
    }

    .navbar{
        bottom: 0;
        width: 100vw;
        height: 5rem;
        transition: unset;
        overflow-x: auto;
    }

    .navbar .link-icon{
        max-width: calc(var(--icon-size)/1.3);
        font-size: calc(var(--icon-size)/1.3);
    }

    .nav-logo{
        display: none;
    }

    .navbar-nav{
        flex-direction: row;
    }

    .nav-link{
        justify-content: center;
    }
}

/* Lain-lain */
.box{
    display: block;
    width: 100%;
    padding: 1rem 2rem;
    background-color: #e9ffa1;
    margin: 3rem 0;
}