.do-rotation{
    .rotate-this{
        transition: transform 600ms ease;
    }

    &:hover{
        .rotate-this{
            transform: rotate(360deg);
        }
    }
}

// Flex Center

.v-row-center, .h-col-center{
    align-items: center;
}

.h-row-center, .v-col-center{
    justify-content: center;
}